<app-header [fixed]="true"
  [navbarBrandFull]="{src: 'assets/images/logo1.png', width: 100, height: 70, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/images/logo1.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">s
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li> -->
    <li class="nav-item mycss d-md-down-none">{{fetchData.name}}</li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="https://bank.mindfin.co.in/assets/President/{{fetchData.cimage}}" class="myimg" alt="emp" height="40px" width="40px" />
      </a>

      <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/images1/admin.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a> -->
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!-- <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='SUPERADMIN'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='EXECUTIVE' && isadmin==='Admin'">
    <app-sidebar-nav [navItems]="navItems8" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='EXECUTIVE' && isadmin!=='Admin'">
    <app-sidebar-nav [navItems]="navItems1" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='TELECALLER'">
    <app-sidebar-nav [navItems]="navItems2" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='DATA ENTRY'">
    <app-sidebar-nav [navItems]="navItems3" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='ACCOUNTANT'">
    <app-sidebar-nav [navItems]="navItems5" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='LOGIN'">
    <app-sidebar-nav [navItems]="navItems6" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='BACKEND'">
    <app-sidebar-nav [navItems]="navItems7" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='ADMIN'">
    <app-sidebar-nav [navItems]="navItems8" [perfectScrollbar] [disabled]="sidebarMinimized"
      style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar> -->
  <!-- <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='CUSTOMER'" >
          <app-sidebar-nav [navItems]="navItems4" [perfectScrollbar] [disabled]="sidebarMinimized"
          style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;"></app-sidebar-nav>
          <app-sidebar-minimizer></app-sidebar-minimizer>
        </app-sidebar> -->
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!-- <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li> -->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<div class="foot">
  <app-footer>
     
    <span>Copyright &copy; 2019 <a href="https://www.mindfin.co.in/" target="_blank" style="text-decoration:none;">Mindfin Ser Pvt. Ltd.</a></span>
    
      <span style="float:right">Design By <a href="https://mavyah.com/" target="_blank" style="text-decoration:none;">Mavyah Technologies Pvt. Ltd.</a></span>
    
  </app-footer>
  
</div>
<style>
  .myimg {
    width: 40px;
    height: 40px;
  }
  .pull-right{
    float: righ;
  }

  @media print {

    .breadcrumb,
    #non-printable {
      display: none !important;
    }

    #printable {
      display: block;
    }

  }

  .app-header .navbar-toggler-icon {
    background-image: none;
  }

  @media print {
    a[href]:after {
      content: none !important;
    }
  }

  @media print {
    .foot {
      display: none !important;
    }

  }
</style>